.loginMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 30px;
}

.loginMenu li {
  list-style: none;
}

.loginMenu li a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: red;
}
